@import "styles";

:host {
  line-height: 1;
  @extend .d-flex, .flex-column, .flex-nowrap, .align-items-center, .justify-content-center, .w-100, .h-100;
  @include gradient(to right, $kwc-blue-background);
}

.kwc-about-wrapper {
  @extend  .d-flex, .flex-column, .w-100, .align-items-center, .justify-content-center;

  .kwc-about-content {
    @extend  .d-flex, .flex-column, .justify-content-center, .align-items-center, .px-2, .flex-grow-1, .w-95;

    .kwc-about-item {
      flex: 0;
      @extend  .d-flex, .flex-column, .flex-nowrap, .w-100;

      .kwc-about-title-01,
      .kwc-about-title-02,
      .kwc-about-title-03 {
        font-weight: 700;
        color: $kwc-off-white-01-color;
        font-family: $kwc-gt-flexa-ext;
        line-height: .9;
        letter-spacing: -.0608em;
        font-size: 2em;

        @extend .text-uppercase;
      }

      .kwc-about-title-03 {
        @extend .mb-0;
      }

      .kwc-about-divider {
        @extend .mb-1;

        img {
          width: 33%;
        }
      }

      .kwc-about-subtitle {
        color: $kwc-off-white-01-color;
        line-height: 1;
        font-size: .8em;
        font-family: $kwc-peak-rounded;

        @extend .mb-3;
      }

      .kwc-about-body {
        font-size: .8em;
        font-family: $kwc-peak-rounded;
        color: $kwc-off-white-01-color;

        ul {
          list-style-type: none;
          padding-left: 1.5rem;
          margin-bottom: 0;

          li {
            line-height: 1.1;

            &:not(:last-child) {
              margin-bottom: .5rem;
            }

            &:before {
              font-family: $kwc-font-awesome-free;
              font-size: .9em;
              font-weight: 600;
              color: $kwc-bright-blue-01-color;
              content: "\f00c";
              display: inline-block;
              position: relative;
              margin-left: -15px;
              left: -10px;
            }
          }
        }
      }
    }

    .kwc-about-navigation {
      @extend .d-flex, .flex-row, .justify-content-end, .align-items-center, .mt-2, .w-95;
    }
  }
}

// Galaxy S5
@media (min-width: 360px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      width: 95% !important;

      .kwc-about-item {
        .kwc-about-title-01,
        .kwc-about-title-02,
        .kwc-about-title-03 {
          font-size: 2.3em;
        }

        .kwc-about-subtitle {
          font-size: .9em;
          line-height: 1.2;
        }

        .kwc-about-body {
          font-size: .9em;

          ul {
            li {
              line-height: 1.2;

              &:before {
                font-size: .95em;
              }
            }
          }
        }
      }
    }
  }
 }

// iPhone 6/7/8/x/11 pro
@media (min-width: 375px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      width: 90% !important;

      .kwc-about-item {
        .kwc-about-title-01,
        .kwc-about-title-02,
        .kwc-about-title-03 {
          font-size: 2.4em;
        }

        .kwc-about-subtitle {
          font-size: .9em;
          margin-bottom: 1.2rem !important;
        }

        .kwc-about-body {
          font-size: .85em;
        }
      }
    }
  }
}

///// iPhone 11 Pro
@media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) {}

// Pixel 2
@media (min-width: 411px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      .kwc-about-item {
        .kwc-about-title-01,
        .kwc-about-title-02,
        .kwc-about-title-03 {
          line-height: .95;
          font-size: 2.6em;
        }

        .kwc-about-subtitle {
          font-size: 1em;
          margin-bottom: 1.5rem !important;
        }

        .kwc-about-body {
          font-size: .9em;

          ul {
            li {
              line-height: 1.1;

              &:before {
                font-size: .95em;
              }
            }
          }
        }
      }

      .kwc-about-navigation {
        margin-top: 1.5rem !important;
      }
    }
  }
}

// iPhone 6/7/8/11/pro Max Plus
@media (min-width: 414px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      width: 85% !important;

      .kwc-about-item {
        .kwc-about-title-01,
        .kwc-about-title-02,
        .kwc-about-title-03 {
          font-size: 4.2em;
        }

        section {
          margin-bottom: -.25rem;
        }

        .kwc-about-title-02 {
          margin-bottom: -.25rem;
        }

        .kwc-about-divider {
          margin-bottom: 1.25rem !important;
        }

        .kwc-about-subtitle {
          font-size: 1.075em;
          margin-bottom: 1.75rem !important;
          line-height: 1.2;
          letter-spacing: -0.01em;
          width: 96%;
        }

        .kwc-about-body {
          font-size: 1.05em;

          ul {
            padding-left: 2em;

            li {
              line-height: 1.2;

              &:before {
                font-size: 1.1em;
                margin-left: -22px;
                left: -16px;
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 90% !important;

        .kwc-about-top {
          display: flex;
          flex-direction: row;
          align-items: center;

          .kwc-about-item {
            flex: 0 0 50%;

            .kwc-about-title-01,
            .kwc-about-title-02,
            .kwc-about-title-03 {
              line-height: 1.05;
              font-size: 4em;
              margin-left: -4px;
            }

            .kwc-about-subtitle {
              width: 97%;
              font-size: 1.25em;
              line-height: 1.1;
              margin-bottom: 0 !important;
            }

            .kwc-about-divider {
              margin-bottom:.75rem !important;
            }

            .kwc-about-body {
              letter-spacing: .01em;
              padding-left: 1.5rem;
              font-size: 1.1em;

              ul {
                li {
                  line-height: 1.1;

                  &:not(:last-child) {
                    margin-bottom: .75rem;
                  }

                  &:before {
                    margin-left: -22px;
                    top: 3px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      width: 85% !important;

      .kwc-about-top {
        .kwc-about-item {
          .kwc-about-title-01,
          .kwc-about-title-02,
          .kwc-about-title-03 {
            font-size: 4.8em;
            margin-left: -6px;
          }

          .kwc-about-subtitle {
            width: 97%;
            font-size: 1.25em;
            line-height: 1.2;
          }

          .kwc-about-divider {
            margin-bottom: 1rem !important;
          }

          .kwc-about-body {
            padding-left: 2rem;
            font-size: 1.2em;

            ul {
              li {
                line-height: 1.2;

                &:not(:last-child) {
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      .kwc-about-top {
        .kwc-about-item {
          .kwc-about-title-01,
          .kwc-about-title-02,
          .kwc-about-title-03 {
            font-size: 4.8em;
          }

          .kwc-about-subtitle {
            width: 95%;
            font-size: 1.35em;
          }

          .kwc-about-divider {
            margin-bottom: 1.25rem !important;
          }

          .kwc-about-body {
            padding-left: 2.5rem;
            font-size: 1.25em;
            line-height: 1.4;
          }
        }
      }
    }
  }
 }

// XX-Large devices (larger desktops, 1660px and up)
@media (min-width: 1660px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      width: 80% !important;

      .kwc-about-top {
        .kwc-about-item {
          .kwc-about-title-01,
          .kwc-about-title-02,
          .kwc-about-title-03 {
            font-size: 5.2em;
            margin-left: -5px;
          }

          .kwc-about-subtitle {
            width: 95%;
            letter-spacing: -.02em;
            line-height: 1.4;
          }

          .kwc-about-body {
            padding-left: 3rem;
            font-size: 1.3;

            ul {
              padding-right: .3rem;

              li {
                line-height: 1.25;

                &:not(:last-child) {
                  margin-bottom: 1.25rem;
                }
              }
            }
          }
        }
      }
    }
  }
 }

// XX-Large devices (larger desktops, 1920px and up)
 @media (min-width: 1920px) {
  .kwc-about-wrapper {
    .kwc-about-content {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      width: 75% !important;

      .kwc-about-top {
        .kwc-about-item {
          .kwc-about-title-01,
          .kwc-about-title-02,
          .kwc-about-title-03 {
            font-size: 6em;
          }

          .kwc-about-body {
            padding-left: 4rem;
            font-size: 1.3em;
          }
        }
      }
    }
  }
 }
