<!-- About Content -->
<div class="kwc-about-wrapper">
    <div class="kwc-about-content">
      <section class="kwc-about-top">
        <!-- Title, Divider, and Text -->
        <div class="kwc-about-item">
          <section class="d-flex flex-row flex-nowrap">
            <div class="kwc-about-title-01">
              user
            </div>
            <div class="kwc-about-icon">
              <app-tagline-svg></app-tagline-svg>
            </div>
          </section>

          <div class="kwc-about-title-02">
            centric
          </div>

          <div class="kwc-about-title-03">
            solutions
          </div>

          <div class="kwc-about-divider">
            <img src="assets/images/divider.svg" alt="About Page Divider">
          </div>

          <div class="kwc-about-subtitle">
            Having worked at a tech startup, at the UN, at corporate agencies, and at the helm of a small business, I've worked on a broad range of projects with a diverse cross-section of tech and design professionals creating solutions for a variety of end-users.
          </div>
        </div>

        <!-- Text List -->
        <div class="kwc-about-item">
          <div class="kwc-about-body">
            <ul>
              <li>I'm a highly analytical, innovative thinker, who's able to leverage extensive design and development experience to ensure the technical feasibility of designs and UI/UX strategies.</li>
              <li>I'm a proactive problem solver, who's self-motivated, self-directed, highly organized, and results-oriented. I work effortlessly on multiple projects simultaneously and excel at time and project management.</li>
              <li>I'm an effective communicator with proven experience collaborating with and presenting work to multi-disciplinary teams, both in-person and remotely. I work as well with others, as I do alone.</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Nav Icon-->
      <div class="kwc-about-navigation">
        <a data-stick-cursor="true" href="/skills" title="Navigate to skills page">
          <app-nav-svg></app-nav-svg>
        </a>
      </div>
    </div>
  </div>
