<!-- Contact Content -->
<div class="kwc-contact-wrapper">
    <div class="kwc-contact-content">
      <section class="kwc-contact-top">
        <div class="kwc-contact-item">
          <section class="d-flex flex-row flex-nowrap">
            <div class="kwc-contact-title-01">
              Get In
            </div>
            <div class="kwc-contact-icon">
              <app-tagline-svg></app-tagline-svg>
            </div>
          </section>

          <div class="kwc-contact-title-02">
            Touch
          </div>

          <div class="kwc-contact-divider">
            <img src="assets/images/divider.svg" alt="Contact Page Divider">
          </div>

          <div class="kwc-contact-subtitle">
            I am currently in the market for an exciting new opportunity that allows me to tap into the wealth of knowledge I've acquired thus far, while keeping my tech and design skills fresh.
          </div>
        </div>

        <div class="kwc-contact-item">
          <div class="kwc-contact-body">
            <div>
              <a href="https://www.behance.net/kennethcourtney1" class="me-2" target="_blank" title="Check out my work on Behance (opens new tab)">
                <fa-icon [icon]="['fab', 'behance']" alt="Behance Icon"></fa-icon>
              </a>
            </div>
            <div>
              <a href="https://www.dropbox.com/sh/4md4an98alhagb0/AAApXGF91FkQVw1seGbxhpvha?dl=0" class="me-2" target="_blank" title="Download My Cover Letter and Resume">
                  <fa-icon [icon]="['far', 'arrow-alt-circle-down']" alt="Download Icon"></fa-icon>
              </a>
            </div>
            <div>
              <a [href]="emailstring" target="_top" title="Email me">
                <fa-icon [icon]="['far', 'envelope']" alt="Email Icon" alt="Email Me"></fa-icon>
              </a>
            </div>
            <div>
              <a href="https://github.com/KWCourtney" target="_blank" title="Check me out on GitHub (opens new tab)">
                <fa-icon [icon]="['fab', 'git']" alt="GitHub Icon"></fa-icon>
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/kennethwcourtney/" class="me-2" target="_blank" title="Check me out on LinkedIn">
                  <fa-icon [icon]="['fab', 'linkedin']" alt="LinkedIn Icon"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
