<div class="overlay" id="overlay">
    <nav class="overlay-menu" id="overlay-menu">
      <ul>
          <li>
            <a routerLink="/home" title="KWC Home">Home</a>
          </li>
          <li>
            <a routerLink="/about" title="KWC About">About</a>
          </li>
          <li>
            <a routerLink="/skills" title="KWC Skills">Skills</a>
          </li>
          <li>
            <a routerLink="/career" title="KWC Career">Career</a>
          </li>
          <li>
            <a routerLink="/portfolio" title="KWC Portfolio">Portfolio</a>
          </li>
          <li>
            <a routerLink="/contact" title="KWC Contact">Contact</a>
          </li>
      </ul>
    </nav>
  </div>

