<div class="kwc-header">
    <!-- Social Media Icons -->
    <div>
      <app-social-media-icons></app-social-media-icons>
    </div>

    <!-- Logo -->
    <div class="kwc-logo-wrap" title="KWC Home">
        <a routerLink="/home">
            <span>kwc</span>
        </a>
    </div>

    <!-- Hamburger Icon / Menu -->
    <div class="button_container" id="toggle" title="Main Menu">
      <section class="button-container-inner">
        <span class="top"></span>
        <span class="middle"> </span>
        <span class="bottom"></span>
      </section>
    </div>
</div>

<!-- Nav Overlay Component -->
<app-nav></app-nav>
