@import "styles";

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

:host {
  line-height: 1;
  @extend .d-flex, .flex-column, .flex-nowrap, .align-items-center, .justify-content-center, .w-100, .h-100;
}

.kwc-portfolio-wrapper {
  @extend .d-flex, .flex-column, .flex-nowrap, .align-items-center, .justify-content-center, .w-100, .h-100;

  .project {
    margin-top: -70px;
    padding-top: 50px;
    height: 120%;

    @extend .d-flex, .flex-column, .flex-nowrap, .align-items-start, .justify-content-center, .w-100;

    &.apothecom,
    &.views,
    &.digitas {
      @include gradient(to right, $kwc-blue-background);
    }

    &.oasys,
    &.thof,
    &.the-un
      {
       @include gradient(to right, $kwc-bright-green-background);
    }

    &.cradle,
    &.talent,
    &.hr,
    &.jark
      {
        @include gradient(to right, $kwc-medium-blue-background);
    }

    .kwc-portfolio-content {
      z-index: 10;
      @extend .d-flex, .flex-column, .flex-nowrap, .align-items-start, .justify-content-center, .w-90, .m-auto;

      .kwc-portfolio-pagination {
        @extend .d-flex, .flex-row, .flex-nowrap, .align-items-start, .justify-content-center, .mb-2;
      }

      section {
        @extend .d-flex, .flex-row, .flex-nowrap, .align-items-center, .flex-grow-1, .w-100, .justify-content-start, .mb-2;

        .kwc-portfolio-project-name {
          font-weight: 700;
          color: $kwc-off-white-01-color;
          font-family: $kwc-gt-flexa-ext;
          line-height: inherit;
          letter-spacing: -.0408em;
          font-size: 3em;
          cursor: pointer;

          @extend .d-flex, .flex-row, .flex-nowrap, .align-items-center, .text-uppercase, .justify-content-start;
        }

        .kwc-portfolio-open-modal {
          cursor: pointer;

          @extend .ms-3, .flex-grow-0;
        }
      }

      .project-one-paragraph {
        font-family: $kwc-peak-rounded-medium;
        height: 170px;
        font-size: .85em;
        line-height: 1.4;

        @extend .d-flex, .flex-row, .flex-wrap, .align-items-start, .justify-content-start, .mb-3, .w-100;
      }

      .kwc-portfolio-skills {
        height: 130px;

        .kwc-portfolio-skills-chips {
          @extend .d-flex, .flex-row, .flex-wrap, .align-items-center, .w-100, .justify-content-center;

          .kwc-portfolio-skills-chip {
            padding: 0 8px 0 0px;
            border-radius: 70px;
            font-size: .75em;
            line-height: 30px;
            height: 30px;
            font-weight: 500;
            letter-spacing: 0em;
            display: inline-table;
            color: $kwc-off-white-01-color;
            border: 2px solid $kwc-off-white-01-color;
            background:transparent;

            @extend .text-lowercase, .mb-2, .me-1;

            &-icon {
              height: 30px;
              width: 24px;
              display: block;
              padding-left: 3px;
              float: left;
              background: transparent;
              border-radius: 50%;
              text-align: center;
              color: $kwc-off-white-01-color;
              font-size: .9em;
              font-weight: 500
            }
          }
        }
      }
    }
  }
}

// Galaxy S5
@media (min-width: 360px) {
  .kwc-portfolio-wrapper {
    .project {
      .kwc-portfolio-content {
        section {
          .kwc-portfolio-project-name {
            letter-spacing: -.0408em;
            font-size: 3.2em;
          }
        }

        .project-one-paragraph {
          font-size: .9em;
          line-height: 1.34;
        }

        .kwc-portfolio-skills {
          .kwc-portfolio-skills-chips {
            .kwc-portfolio-skills-chip {
              padding: 0 10px 0 0px;
              margin-bottom: .5rem !important;
              letter-spacing: 0.01em;
              font-size: .85em;

              &-icon {
                margin: 0;
                font-size: .8em;
                width: 28px;

                .fas,
                .fab {
                  line-height: 2.8;
                }
              }
            }
          }
        }
      }
    }
  }
}

// iPhone 6/7/8/x/11 pro
@media (min-width: 375px) {
  .kwc-portfolio-wrapper {
    .project {
      .kwc-portfolio-content {
        section {
          .kwc-portfolio-project-name {
            letter-spacing: -.0408em;
            font-size: 3.5em;
          }
        }

        .project-one-paragraph {
          font-size: .96em;
          height: 190px;
          padding: 0 .25rem;
        }

        .kwc-portfolio-skills {
          .kwc-portfolio-skills-chips {
            .kwc-portfolio-skills-chip {
              letter-spacing: .01em;
              font-size: .9em;

              &-icon {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}

// iPhone 11 Pro
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {
    .kwc-portfolio-wrapper {
      .project {
        padding-top: 0px;

        .kwc-portfolio-content {
          .kwc-portfolio-skills {
            .kwc-portfolio-skills-chips {
              .kwc-portfolio-skills-chip {
                padding: 0 11px 0 0px;
                font-size: .86em;
                letter-spacing: .02em;

                &-icon {
                  width: 32px;
                  font-size: .9em;

                  .fas,
                  .fab,
                  .far {
                    line-height: 2.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

// Pixel 2
@media (min-width: 411px) {
  .kwc-portfolio-wrapper {
    .project {
      .kwc-portfolio-content {
        width: 87% !important;

        section {
          .kwc-portfolio-project-name {
            letter-spacing: -.0608em;
            font-size: 3.7em;
          }
        }
      }
    }
  }
}

// iPad // Portrait and Landscape
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .kwc-portfolio-wrapper {
    .project {
      #kwc-portfolio-background-circle {
        position: absolute;
        width: 60em;
        height: 30em;
        background-color: $kwc-background-circle-ipad;
        border-radius: 30em;
        z-index: 0;
        right: 9%;
      }

      .kwc-portfolio-background-image {
        display: none;
      }

      .kwc-portfolio-content {
        width: 82% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 310px !important;

        section {
          .kwc-portfolio-project-name {
            font-size: 4.3em;
            margin-left: -6px;
          }
        }

        .project-one-paragraph {
          height: 125px;
          font-size: .95em;
          line-height: 1.35;
          width: 85% !important;
        }

        .kwc-portfolio-skills {
          height: auto;
          width: 90% !important;

          .kwc-portfolio-skills-chips {
            justify-content: flex-start !important;
            .kwc-portfolio-skills-chip {
              padding: 0 11px 0 0px;
              font-size: .8em;
              letter-spacing: .04em;

              &-icon {
                line-height: 32px;
                font-size: .9em;
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .kwc-portfolio-wrapper {
    .project {
      padding-top: 0px;

      #kwc-portfolio-background-circle {
        background: $kwc-background-circle;
        width: 26em;
        height: 26em;
        right: 4%;
      }

      .kwc-portfolio-background-image {
        position: absolute;
        z-index: 1;
        right: 3%;
        width: 48%;
        margin-right: 0;
        display:inline-block ;
      }

      &.apothecom {
        .kwc-portfolio-background-image {
          width: 46%;
        }
      }

      &.talent {
        .kwc-portfolio-background-image {
          width: 50%;
          right: 2%;
        }
      }

      &.cradle,
      &.oasys {
        .kwc-portfolio-background-image {
          right: 2%;
        }
      }

      .kwc-portfolio-content {
        width: 51% !important;
        margin-left: 2rem !important;
        margin-top: auto !important;

        .kwc-portfolio-pagination {
          line-height: 1;
        }

        section {
          .kwc-portfolio-project-name {
            font-size: 4.9em;
            letter-spacing: -.045em;
            margin-left: -4px;
          }
        }

        .project-one-paragraph {
          height: 150px;
          font-size: 1.05em;
          line-height: 1.3;
          width: 91% !important;
          letter-spacing: .01em;
          margin-bottom: 1.25rem !important;
        }

        .kwc-portfolio-skills {
          width: 100% !important;
          height: 105px;

          .kwc-portfolio-skills-chips {
            .kwc-portfolio-skills-chip {
              font-size: .85em;
              padding: 0 12px 0 4px;
              line-height: 36px;
              height: 36px;
              letter-spacing: .06em;
              margin-right: .25rem !important;
              margin-bottom: .75rem !important;

              &-icon {
                height: 36px;
                width: 31px;
                font-size: 1.05em;

                .fas,
                .fab,
                .far {
                  line-height: 2.7;
                }
              }
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .kwc-portfolio-wrapper {
    .project {
      #kwc-portfolio-background-circle {
        width: 28em;
        height: 28em;
        right: 7%;
      }

      .kwc-portfolio-background-image {
        right: 3%;
        width: 46% !important;
      }

      &.apothecom {
        .kwc-portfolio-background-image {
          width: 45% !important;
        }
      }

      &.talent {
        .kwc-portfolio-background-image {
          width: 48% !important;
        }
      }

      &.cradle,
      &.oasys {
        .kwc-portfolio-background-image {
          right: 3%;
        }
      }

      .kwc-portfolio-content {
        margin-left: 4rem !important;
        width: 47% !important;

        section {
          .kwc-portfolio-project-name {
            font-size: 5.3em;
          }

          .kwc-portfolio-open-modal {
            margin-left: 1.5rem !important;
          }
        }

        .project-one-paragraph {
          height: 170px;
          font-size: 1.15em;
          line-height: 1.35;
          width: 95% !important;
          margin-bottom: 1.75rem !important;
        }

        .kwc-portfolio-skills {
          .kwc-portfolio-skills-chips {
            .kwc-portfolio-skills-chip {
              font-size: .85em;

              &-icon {
                .fas,
                .fab,
                .far {
                  line-height: 2.7;
                }
              }
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .kwc-portfolio-wrapper {
    .project {
      #kwc-portfolio-background-circle {
        width: 32em;
        height: 32em;
        right: 9%;
      }

      .kwc-portfolio-background-image {
        right: 7%;
        width: 42% !important;
      }

      &.apothecom {
        .kwc-portfolio-background-image {
          width: 41% !important;
        }
      }

      &.talent {
        .kwc-portfolio-background-image {
          width: 44% !important;
          right: 5%;
        }
      }

      &.cradle,
      &.oasys {
        .kwc-portfolio-background-image {
          right: 6%;
        }
      }

      .kwc-portfolio-content {
        margin-left: 7rem !important;

        section {
          .kwc-portfolio-project-name {
            font-size: 5em;
          }
        }

        .project-one-paragraph {
          width: 86% !important;
          height: 150px;
        }

        .kwc-portfolio-skills {
          .kwc-portfolio-skills-chips {
            width: 96% !important;

            .kwc-portfolio-skills-chip {
              margin-right: .5rem !important;
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1660px and up)
@media (min-width: 1660px) {
  .kwc-portfolio-wrapper {
    .project {
      #kwc-portfolio-background-circle {
        right: 11%;
        width: 36em;
        height: 36em;
      }

      .kwc-portfolio-background-image {
        right: 8%;
        width: 41% !important;
      }

      &.apothecom {
        .kwc-portfolio-background-image {
          right: 10%;
          width: 39% !important;
        }
      }

      &.talent,
      &.cradle {
        .kwc-portfolio-background-image {
          width: 43% !important;
        }
      }

      .kwc-portfolio-content {
        width: 45% !important;
        margin-left: 10rem !important;

        .project-one-paragraph {
          height: 150px;
        }

        .kwc-portfolio-skills {
          width: 90% !important;

          .kwc-portfolio-skills-chips {
            .kwc-portfolio-skills-chip {
              margin-right: .5rem !important;

              &-icon {
                font-size: 1.05em;
                width: 34px;

                .fas,
                .fab,
                .far {
                  line-height: 2.6;
                }
              }
            }
          }
        }
      }
    }
  }
 }

// X-Large devices (large desktops, 1920px and up)
@media (min-width: 1920px) {
  .kwc-portfolio-wrapper {
    .project {
      #kwc-portfolio-background-circle {
        right: 14%;
        width: 40em;
        height: 40em;
      }

      .kwc-portfolio-background-image {
        right: 13%;
        width: 36% !important;
      }

      &.apothecom {
        .kwc-portfolio-background-image {
          right: 13%;
          width: 35% !important;
        }
      }

      &.cradle,
      &.oasys,
      &.views {
        .kwc-portfolio-background-image {
          right: 13%;
          width: 37% !important;
        }
      }

      &.talent {
        .kwc-portfolio-background-image {
          right: 12%;
          width: 38% !important;
        }
      }

      .kwc-portfolio-content {
        margin-left: 14rem !important;
        width: 42% !important;

        section {
          .kwc-portfolio-project-name {
            font-size: 6em;
            margin-left: -6px;
          }
        }

        .project-one-paragraph {
          height: 125px;
        }
      }
    }
  }
}
