<!-- Career Content -->
<div class="kwc-career-wrapper">
    <div class="kwc-career-content">
        <div class="kwc-career-item">
          <section class="kwc-career-year">
            <div class="kwc-career-year-01">
              1999 <span>-</span>
            </div>

            <div class="kwc-career-icon">
              <app-tagline-svg></app-tagline-svg>
            </div>
          </section>

          <div class="kwc-career-year-02">
            2021
          </div>
        </div>

        <div class="kwc-career-item">
          <section class="kwc-career-positions">
            <div>
              <a href="http://apothecom.com/" target="_blank" title="Visit Apothecom's site (opens new tab)">
                apothecom
              </a>
            </div>
            <div>front-end developer</div>
            <div>
              <a href="https://www.bbdo.com/" target="_blank" title="Visit bbdo's site (opens new tab)">
                bbdo
              </a>
            </div>
            <div>ui/ux designer + front-end developer</div>
            <div>
              <a href="https://www.unicef.org/" target="_blank" title="Visit unicef's site (opens new tab)">
                the un / unicef
              </a>
            </div>
            <div>front-end designer + developer</div>
            <div>
              <a href="https://www.digitas.com" target="_blank" title="Visit digitas's site (opens new tab)">
                digitas
              </a>
            </div>
            <div>senior programmer analyst</div>
            <div>
              <a href="https://justanotherrichkid.com/" target="_blank" title="Visit just another rich kid's site (opens new tab)">
                just another rich kid
              </a>
            </div>
            <div>owner + designer</div>
            <div>
              <a href="https://thisheartsonfire.com/" target="_blank" title="Visit this hearts on fire's site (opens new tab)">
                this hearts on fire
              </a>
            </div>
            <div>owner + editor</div>
          </section>
        </div>


      <div class="kwc-career-navigation">
        <a data-stick-cursor="true" href="/portfolio" title="Navigate to portfolio landing page">
          <app-nav-svg></app-nav-svg>
        </a>
      </div>
    </div>
  </div>
