<!-- Social Media Icons -->
<div class="kwc-social-media-icons">
  <!-- Behance -->
  <a href="https://www.behance.net/kennethcourtney1" class="me-2" target="_blank" title="Check out my work on Behance (opens new tab)">
    <fa-icon [icon]="['fab', 'behance']" alt="Behance Icon"></fa-icon>
  </a>
  <!-- Email -->
  <a [href]="emailstring" target="_top" class="me-2" title="Email me">
    <fa-icon [icon]="['far', 'envelope']" alt="Email Icon"></fa-icon>
  </a>
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/kennethwcourtney/" target="_blank" title="Check me out on LinkedIn (opens new tab)">
    <fa-icon [icon]="['fab', 'linkedin-in']" alt="LinkedIn Icon"></fa-icon>
  </a>
</div>
