<!-- Home Content -->
<div class="kwc-home-wrapper">
    <div class="kwc-home-content">
      <!-- First Name + Icon -->
      <div class="kwc-home-item">
        <div class="kwc-home-name-01">
          ken
        </div>
        <div class="kwc-home-tagline">
          <div class="kwc-home-tagline-icon">
            <app-tagline-svg></app-tagline-svg>
          </div>
          <div class="kwc-home-tagline-roles">
            <div class="fadeIn">
              <div class="fadeIn-inner">
                <span>ui designer</span>
                <span>ux designer</span>
                <span>ui developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Last Name + Nav Icon -->
      <div class="kwc-home-item">
        <div class="kwc-home-name-02">
          courtney
        </div>
      </div>

      <!-- Nav Icon -->
      <div class="kwc-home-navigation">
        <a data-stick-cursor="true" href="/about" title="Navigate to about page">
          <app-nav-svg></app-nav-svg>
        </a>
      </div>
    </div>
  </div>
